@import url('https://fonts.googleapis.com/css?family=Mina');

*{
	font-family: 'Mina', sans-serif;
}

html {
	height: auto;
	width: auto;
	background-image: url("Pictures/Background/Forest.jpg") !important;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

body {
	font-size: 100%;
	background-color: rgba(255, 255, 255, 0) !important;
}

/*Wooden sign banner-------------------------------------------------------------------*/

.rightBanner {
	position: absolute;
	left: 70%;
	top: 0%;
	width: 30%;
	height: 30%;
	background-image: url("Pictures/Background/WoodenSign.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
}

/*-------------------------------------------*/

.rightBannerMiddleLeft {
	position: absolute;
	left: 10%;
	top: 55%;
	width: 38%;
	height: auto;
}

/*-------------------------------------------*/

.rightBannerMiddleRight {
	position: absolute;
	left: 50%;
	top: 55%;
}

/*-------------------------------------------*/

#spanUserNames {
	font-family: Consolas, monospace;
	text-align: justify;
	font-size: 1em;
	font-weight: bold;
}

/*End - Wooden sign banner-------------------------------------------------------------*/

/*Web page-----------------------------------------------------------------------------*/

/*Main Top Panel----------------------------------------------------------*/

.mainTopPanel {
	display: table;
	position: relative;
	left: 1%;
	margin-top: 0.5%;
	width: 73%;
	height: 3%;
	border-width: 0.5px;
	border-style: solid;
	background-image: url("Pictures/Textures/WoodenTexture.jpg");
	background-repeat: repeat;
	background-position: center;
	border-radius: 8px;
	/*background-size: auto auto;*/
}

/*-------------------------------------------*/

.mainTopPanelContainer {
	display: table;
	position: relative;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	text-align: left;
	width: 100%;
}

/*-------------------------------------------*/

span.mainTopPanelButton {
	position: relative;
	padding-left: 1%;
	width: 100%;
}

/*End - Main Top Panel----------------------------------------------------*/

/*Page-continer-----------------------------------------------------------*/

.page {
	position: relative;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
	margin-bottom: 10%;
	display: table;
	width: 80%;
	max-width: 80%;
	text-align: center;
	border-radius: 10px;
	border-width: 0px;
	border-style: solid;
	background-image: url("Pictures/Textures/PaperTexture.jpg");
	background-repeat: repeat;
	background-position: center;
}

/*End - Page-continer-----------------------------------------------------*/

/*Page content------------------------------------------------------------*/

.pageContent {
	position: relative;
	width: 94%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 1.5%;
	padding-bottom: 5%;
	display: table;
	text-align: left;
	margin-top: 60px;
}

/*End - Page content------------------------------------------------------*/

/*End - Web page-----------------------------------------------------------------------*/

/*Text style---------------------------------------------------------------------------*/

pre {
	font-family: Consolas, monospace;
	text-align: justify;
	white-space: pre-wrap;
	/* Since CSS 2.1 */
	white-space: -moz-pre-wrap;
	/* Mozilla, since 1999 */
	white-space: -pre-wrap;
	/* Opera 4-6 */
	white-space: -o-pre-wrap;
	/* Opera 7 */
	word-wrap: break-word;
	/* Internet Explorer 5.5+ */
}

/*-------------------------------------------*/

#preTimeLimit {
	text-align: center;
	font-size: 1em;
	color: grey;
}

/*-------------------------------------------*/

.priceStyle {
	font-family: Consolas, monospace;
	text-align: center;
	font-size: 1.5em;
	color: green;
}

/*-------------------------------------------*/

.shortDescriptionStyle {
	font-family: Consolas, monospace;
	text-align: justify;
	font-size: 1.25em;
	font-weight: bold;
}

/*-------------------------------------------*/

.voteStyle {
	border: 1px solid grey;
	background-color: lightgrey;
	font-size: 1em;
	font-weight: bold;
}

/*-------------------------------------------*/

.errorStyle {
	border: 1px solid grey;
	background-color: lightgrey;
	font-size: 1em;
	font-weight: bold;
	color: red;
	visibility: hidden;
}

/*-------------------------------------------*/

#commentsCount {
	color: grey;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}

/*-------------------------------------------*/

#taComment {
	font-size: 1em;
	text-align: justify;
}

/*-------------------------------------------*/

textarea {
	resize: none;
}

/*-------------------------------------------*/

#tableComments {
	border: 1px solid grey;
	width: 62%;
	margin-left: 10%;
}

/*-------------------------------------------*/

#tableComments tr {
	border: 1px solid grey;
	width: 100%;
}

/*End - Text style---------------------------------------------------------------------*/